.advanced-section {
  background-color: #f0f1f6;
}

.advanced {
  width: 100%;
  height: 105vh;
}

.advanced .container {
  width: 100%;
}

.advanced .content {
  width: 100%;
  padding-top: -5rem;
}

.stats {
  text-align: center;
}
.stats p {
  padding: 1rem 18rem 6rem;
  color: var(--color-gray);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2rem;
  position: relative;
  flex-wrap: wrap;
}
.card-container::before {
  content: "";
  border-top: 7px solid var(--color-cyan);
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.cards:nth-child(1) {
  --indent: 0;
  height: 80%;
}
.cards:nth-child(2) {
  --indent: 1;
  height: 80%;
}
.cards:nth-child(3) {
  --indent: 2;
  height: 80%;
}
.cards {
  width: 100%;
  background-color: var(--color-white);
  padding: 4.5rem 2rem 2rem;
  border-radius: 5px;
  position: relative;
  margin-top: calc(var(--indent) * 2.5rem);
}
.cards::before {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--color-violet);
  position: absolute;
  top: -2.5rem;
}
.cards:nth-child(1):before {
  content: url(../../assets/icon-brand-recognition.svg);
}
.cards:nth-child(2):before {
  content: url(../../assets/icon-detailed-records.svg);
}
.cards:nth-child(3):before {
  content: url("../../assets/icon-fully-customizable.svg");
}
.cards p {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--color-gray);
  line-height: 1.5rem;
}

@media screen and (max-width: 1176px) {
  .stats p {
    padding: 1rem 11rem 6rem;
  }
}

@media screen and (max-width: 940px) {
  .advanced {
    height: 105vh;
  }
  .stats p {
    padding: 1rem 4rem 6rem;
  }
}

@media screen and (max-width: 768px) {
  .advanced {
    height: 148vh;
  }
  .stats p {
    padding: 1rem 0 4rem;
  }
  .card-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .card-container::before {
    content: "";
    border-top: 0;
    border-left: 7px solid var(--color-cyan);
    top: 10%;
    bottom: 10%;
    left: 50%;
    position: absolute;
    transform: translateX(-1%);
  }
  .cards {
    margin-top: 2.4rem;
  }
  .cards::before {
    width: 6rem;
    height: 6rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 560px) {
  .advanced {
    height: 160vh;
  }
}
