.shortener-section {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 6rem;
}

.shortener {
  width: 100%;
  height: 10rem;
  background-color: var(--color-violet);
  border-radius: 10px;
  position: relative;
  top: -5rem;
}

.shortener img {
  width: 100%;
  height: 10rem;
  border-radius: 10px;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.form .content {
  display: flex;
}

.form .input-url {
  color: var(--color-gray);
  flex: 1 1 auto;
  height: 3.9rem;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0 1rem;
  font-weight: 500;
  position: relative;
  border-color: none;
}

.form-error {
  display: block;
  font-style: italic;
  font-size: 0.9rem;
  color: #ff0000;
  position: absolute;
  bottom: -1.5rem;
  font-weight: 500;
}

.form .submit-btn {
  color: var(--color-white);
  height: 3.9rem;
  max-width: 11rem;
  flex: 1 1 auto;
  margin-left: 1rem;
  border-radius: 10px;
  background-color: var(--color-cyan);
  font-size: 1.2rem;
  padding: 0 0.5rem;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 940px) {
  .shortener-section {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 768px) {
  .form {
    width: 94%;
  }
  .form .content {
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .form .input-url {
    width: 100%;
    height: 3.3rem;
  }
  .form .submit-btn {
    height: 3.3rem;
    max-width: 100%;
    margin-left: 0;
  }
  .form-error {
    font-size: 0.8rem;
    bottom: 3.3rem;
    left: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .shortener-section {
    padding: 0 2rem;
  }
}