@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-cyan:hsl(180, 66%, 49%);
  --color-violet:hsl(257, 27%, 26%);
  --color-red:hsl(0, 87%, 67%);
  --color-gray:hsl(0, 0%, 75%);
  --color-gray-violet:hsl(257, 7%, 63%);
  --color-dark-blue:hsl(255, 11%, 22%);
  --color-dark-violet:hsl(260, 8%, 14%);
  --color-white: #fff;
  --transition: all 2s ease;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 6rem;
}

ul,
li {
  list-style-type: none;
}

p {
  line-height: 1.6;
}

h1 {
  font-size: 4.5rem;
  line-height: 5.2rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.4rem;
}
h1, h2, h3 {
  color: var(--color-dark-blue);
}

@media screen and (max-width: 940px) {
  html {
    font-size: 90%;
  }
  .container {
    padding: 0 4rem;
  }
  .header li {
    font-size: 100%;
  }
  .hero h1 {
    font-size: 4rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 640px) {
   h1 {
    font-size: 75%;
  }
  .container {
    padding: 0 2rem;
  }
  .header li {
    font-size: 100%;
  }
}